/* Sección de Edgar */

body {
    background-image: url("../images/cocina.gif");
    background-repeat: repeat;
    background-size: auto;
}

nav {
    margin-bottom: 20px;
}

.marginTop {
    margin-top: 10px;
}
#topRow { 
    text-align: center;
    margin-top: 40px;
    min-height: 300px;
    background: #ffffff;
    border-radius: 10px;

}

.marginBottom {
    margin-bottom: 10px;
}
label {
    margin:0;
}
/*Fin Sección de Edgar */