/* Sección de Edgar */

body {
    background-image: url("../images/cocina.gif");
    background-repeat: repeat;
    background-size: auto;
}
#bottomnav {
    margin-bottom: 0;
    height: 20px;
    background-color: #d6ede9;
}

nav {
    margin-bottom: 20px;
    height: 1000;
}
@font-face {
    font-family: myFirstFont;
    src: url("../Font/Retrology\ DEMO.ttf");
}

.font{
    font-family: myFirstFont;
}

.marginTop {
    margin-top: 10px;
}

#topRow { 
    text-align: center;
    margin-top: 10px;
    width: 200px;
    
    background: #ffdd62;
    border-radius: 10px;

}

.btn{
    background-color: #a8d3cc;
    
}


.marginBottom {
    margin-bottom: 10px;
}
label {
    margin:0;
}
#Lista-1{
    float: right;
    margin-right: 550px;
    width: 40%;
    height: 40%;
    margin-top: -260px;
  
}

.navbar {
    height: 150px; 

}

.logo {
  height: 130px;
  margin-left: 40%;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

/*Fin Sección de Edgar */


#topRow1 { 
    text-align: center;
    margin-top: 10px;
    background: #ffdd62;
    border-radius: 10px;
    min-height: 300px;
   
}

.dashboardCont{
    float: left;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 10px;
    background: #d6ede9;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    margin-left:6%;
    margin-top:5%;
    margin-bottom:5%;
}

 #fav{
    width:auto;
    height:360px;
  
    overflow: scroll;    
    /* float: left;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 10px;
    background: #d6ede9;
    margin-left:5%;
    margin-top:5%;
    margin-bottom:5%; */
}
/*
#lists{
    float: left;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 10px;
    background: #d6ede9;
    margin-left:5%;
    margin-top:5%;
    margin-bottom:5%;
} */

.card-body{
    background-color:#d7fca2;
    border-style: solid;
    border-width: 1.5px;
    border-color: black;
    border-radius: 5px;

}

.btn{
    
    color: black;
}

.clear{
    background-color: #fc7859;
}

.now{
    background-color:#ffdd62;
}


/* recipe search results page styles */

.card {
    background: #ffdd62;
    margin-bottom: 7px;
}

.black {
    background: black;
}

/* recipe page styles */

.background{
    background: #ffdd62;
}

.customBut{
    margin: 3px;
}


/* list page styles */

.no-align{
    margin-bottom: 15px;
    
}

.offset-lg-4 {
    margin-left: 37.333333%;
}